<div>


  <section class="hero">
    <div class="hero-content">
      <h2>Experience The Ride of Your Life</h2>
      <p>Your convenient and reliable ride-sharing solution</p>
      <div class="call-to-ation">
        <button class="btn" routerLink="/request-ride" routerLinkActive="active" ariaCurrentWhenActive="page">Request a
          Ride</button>
        <button class="btn" routerLink="/onboard-driver" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up
          as a Driver</button>
      </div>
    </div>
  </section>

  <section class="features container">
    <h2>Why Choose Raida?</h2>
    <div class="feature-list">
      <div class="feature-item">
        <i class="fas fa-car"></i>
        <h3>Wide Range of Vehicles</h3>
        <p>Choose from a variety of vehicle options to suit your needs.</p>
      </div>
      <div class="feature-item">
        <i class="fas fa-clock"></i>
        <h3>Reliable and Fast</h3>
        <p>Get a ride in minutes with our extensive network of drivers.</p>
      </div>
      <div class="feature-item">
        <i class="fas fa-shield-alt"></i>
        <h3>Safe and Secure</h3>
        <p>Feel secure with our trusted drivers and advanced safety features.</p>
      </div>
    </div>
  </section>

  <footer class="container">
    <div class="footer-content">
      <div class="brand">Raida</div>
      <ul>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>
</div>