<div class="container">
  <div class="form-container">
    <h1>Driver sign up</h1>

    <!-- showfailure message  -->
    <div *ngIf="showFailureMessage" class="alert alert-danger">
      {{ failureMsg }}
      <p>{{ error }}</p>
    </div>

    <form [formGroup]="onboardDriverForm" (ngSubmit)="onSubmit()" autocomplete="on">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" formControlName="name" class="form-control" id="name">
        <div
          *ngIf="onboardDriverForm.get('name')?.invalid && (onboardDriverForm.get('name')?.dirty || onboardDriverForm.get('name')?.touched)"
          class="alert alert-danger">
          <!-- Name validation error -->
          <div *ngIf="onboardDriverForm.get('name')?.errors?.['required']">
            Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" formControlName="email" class="form-control" id="email">
        <div
          *ngIf="onboardDriverForm.get('email')?.invalid && (onboardDriverForm.get('email')?.dirty || onboardDriverForm.get('email')?.touched)"
          class="alert alert-danger">
          <!-- Email validation errors -->
          <div *ngIf="onboardDriverForm.get('email')?.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="onboardDriverForm.get('email')?.errors?.['email']">
            Invalid email format
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" formControlName="phoneNumber" class="form-control" id="phoneNumber">
        <div
          *ngIf="onboardDriverForm.get('phoneNumber')?.invalid && (onboardDriverForm.get('phoneNumber')?.dirty || onboardDriverForm.get('phoneNumber')?.touched)"
          class="alert alert-danger">
          <!-- Phone number validation errors -->
          <div *ngIf="onboardDriverForm.get('phoneNumber')?.errors?.['required']">
            Phone number is required
          </div>
          <div *ngIf="onboardDriverForm.get('phoneNumber')?.errors?.['pattern']">
            Phone number must be in the format XXX-XXX-XXXX
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" formControlName="username" class="form-control" id="name">
        <div
          *ngIf="onboardDriverForm.get('username')?.invalid && (onboardDriverForm.get('username')?.dirty || onboardDriverForm.get('username')?.touched)"
          class="alert alert-danger">
          <!-- Name validation error -->
          <div *ngIf="onboardDriverForm.get('name')?.errors?.['required']">
            Username is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" formControlName="password" class="form-control" id="password">
        <div
          *ngIf="onboardDriverForm.get('password')?.invalid && (onboardDriverForm.get('password')?.dirty || onboardDriverForm.get('password')?.touched)"
          class="alert alert-danger">
          <!-- Password validation errors -->
          <div *ngIf="onboardDriverForm.get('password')?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="onboardDriverForm.get('password')?.errors?.['minlength']">
            Password must be at least 8 characters long
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="carMake">Car Make:</label>
        <input type="text" formControlName="carMake" class="form-control" id="carMake">
        <div
          *ngIf="onboardDriverForm.get('carMake')?.invalid && (onboardDriverForm.get('carMake')?.dirty || onboardDriverForm.get('carMake')?.touched)"
          class="alert alert-danger">
          <!-- Car make validation error -->
          <div *ngIf="onboardDriverForm.get('carMake')?.errors?.['required']">
            Car make is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="carModel">Car Model:</label>
        <input type="text" formControlName="carModel" class="form-control" id="carModel">
        <div
          *ngIf="onboardDriverForm.get('carModel')?.invalid && (onboardDriverForm.get('carModel')?.dirty || onboardDriverForm.get('carModel')?.touched)"
          class="alert alert-danger">
          <!-- Car model validation error -->
          <div *ngIf="onboardDriverForm.get('carModel')?.errors?.['required']">
            Car model is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="licensePlate">License Plate:</label>
        <input type="text" formControlName="licensePlate" class="form-control" id="licensePlate"
          pattern="^K[A-Z]{2}\s\d{3}[A-Z]{1}$" placeholder="e.g. KDB 123A">
        <div
          *ngIf="onboardDriverForm.get('licensePlate')?.invalid && (onboardDriverForm.get('licensePlate')?.dirty || onboardDriverForm.get('licensePlate')?.touched)"
          class="alert alert-danger">
          <!-- Car model validation error -->
          <div *ngIf="onboardDriverForm.get('licensePlate')?.errors?.['required']">
            license plate is required
          </div>
          <div *ngIf="onboardDriverForm.get('licensePlate')?.errors?.['pattern']">
            Valid license format is KDB 123A
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">signup</button>
    </form>

  </div>
</div>